:root {
  --background: #f2f2f2;
  --first-blue: #328de8;
  --second-blue: #53a9ff;
  --border-color: #53a9ff69;
  --text-color: #707070;
  --first-purple: #6f49db;
  --second-purple: #8053ff;
  --first-red: #ff5353;
  --second-red: #de5959;
  --white: #ffffff;
}
